/*Título "Próximas atividades*/
.title-activity h1{ 
    display: flex;
    font-size: 26px;
    color: #727272;
    padding-top: 75px;
    margin-bottom: 20px;
}
.activity2{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 50px;
}

/*rectangle-box onde chamei os dois retangulos*/
.rectangle-box{
        display: flex;
        align-items: left;
       
}