.rectangle{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:red;
    border-radius: 20px;
    width: 236px;
    height: 221.6px;
    margin-right: 20px;
  
}
.info-rectangle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.subject{
    justify-content: space-between/;
    font-size: 10px;
    color: #737373;
}

.activity{
    flex-wrap: nowrap;
    font-size: 12px;
    color: #4b4b4b;
}
.date{
    color: #8e8e8e;
    font-size: 8px;
}
/* .image{ */
    /* align-items: center; */
    /* width: 236px; */
    /* height: 139.6px; */
