.rectangle2{
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border-radius: 20px;
    width: 236px;
    height: 222px;
    margin-right: 40px;
    /* margin-left: 80px; */
}
.info-rectangle2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}
.graduate h1{
    margin-left: 5px;
    font-size: 10px;
    color: #737373;
}

.subject a{
    text-decoration: none;
    margin-left: 5px;
    font-size: 10px;
    color: #4b4b4b;
}
.class h3{
    margin-left: 5px;
    color: #8e8e8e;
    font-size: 8px;
}
.image img{
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    width: 100%;
    left: 449px;
    top: 337px; 
}