.blocks{
    display: flex;
    padding-top: 100px;
    padding-left: 50px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-items: start;
    
}
.resume{
    color: #555555;
    font-size: 26px;
    /* top: 85px;
    left: 448px;
    width: 97px;
    padding-top: 10px;
    margin-left: 10px;
    height: 35px; */
}
.class{
    color: #555555;
    font-size: #737373;
    /* top: 100px;
    left: 448px;
    width: 97px;
    padding-top: 10px;
    margin-left: 10px;
    height: 35px; */
}
