.blocks{
    display: flex;
    justify-content: start;
    
}

.title-resume{
    display: flex;
    color: #727272;
    font-size: 26px;
    margin-left: 52px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.resume-dashboard{
display: flex;
flex-direction: column;  
}
