.blocks{
    display: flex;
    justify-content: start;
    
}

.title{
    color: #727272;
    font-size: 26px;
    left: 448px;
    width: 97px;
    margin-left: 10px;
}

.resume{
    align-content: initial;
    
}
