.dashboard3 {
    display: grid;
    grid-template-columns: 315px 1fr;
}
.teacher-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.teacher-info h1{
    font-size: 20px;
    color: #727272;
}
.teacher-info p{
    font-size: 14px;
    color: #727272;
}

.teacher-picture{
border-radius: 50%;
width: 48px;
height: 48px;
margin-left: 700px;
margin-top: 40px;
}