.dashboard3 {
    display: grid;
    grid-template-columns: 315px 1fr;
}
.rectangle-activity{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    justify-content: space-between;
    /* padding-left: 50px; */
}
.next-activity h1{
    color: #555555;

}
