.props-blocks{
    width: 236px;
    height: 87px;
    display: flex;
    background: #F6F6F6;
    border-radius: 20px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}
.icon {
    border-radius: 50%;
    background: #FFFFFF;
    width:48px;
    height:48px;
    color: #7D7D7D;
    line-height: 48px;
    margin-left: 140px;
    justify-content: center;
}
.info-blocks h1{
  
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
     
}

.info-blocks p{
    display: inline;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}