.props-blocks{
    width: 236px;
    height: 87px;
    display: flex;
    background: #F6F6F6;
    border-radius: 20px;
    margin-right: 30px;
    justify-content: space-around;
    align-items: center;
}
.icon {
    border-radius: 50%;
    background: #FFFFFF;
    width:48px;
    height:48px;
    color: #7D7D7D;
    line-height: 48px;
    text-align: center;
    justify-content: space-between;
}
.info-blocks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.info-blocks h1{
    font-size: 24px;
}

.info-blocks p{
    color: #a5a5a5;
    display: inline;
    font-size: 12px;   
}