.props-blocks{
    width: 236px;
    height: 87px;
    
    background: #F6F6F6;
    border-radius: 20px;
    

}
.icon {
    border-radius: 50%;
    background: #FFFFFF;
    width:48px;
    height:48px;
    color: #7D7D7D;
    
}
h1{
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
   
    
}

h2{
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}