.blocks{
    display: flex;
    top: 100px;
    padding-left: 50px;
}
.title-page4{
    display: flex;
    align-items: start;
    padding-left: 50px;
    margin-top: 80px;
    margin-bottom: 25px;
    justify-content: space-between;
    flex-direction: row;
    
}
.resume4{
    display: flex;
    flex-direction: column;
    text-align: left;

}
.resume4 h1{
    color: #727272;
    font-size: 26px;

}
.resume4 h2{ 
    color: #727272;
    font-size: 14px;
    text-align: left;

}
.teacher2{
    display: flex;
    flex-direction: row;
    padding-right: 160px;

}
.teacher-info2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher-info2 h1{
    font-size: 15px;
    color: #727272;
}

.teacher-info2 p{
    font-size: 14px;
    color: #727272;
    margin-left: 10px;
   
}

.teacher-picture2{
    border-radius: 50%;
    width:48px;
    height:48px;
    /* text-align: center; */
    justify-content: space-between;
}
