/*Título "Próximas atividades*/
.sub-title h1{ 
    font-size: 26px;
    color: #727272;
    margin-left: 52px;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: initial;    
   
}

/*rectangle-box onde chamei os dois retangulos*/
.rectangle-box{
        display: flex;
        justify-content: start;
        margin-left: 52px;
       
}