/*Título "Próximas atividades*/
.title h1{ 
    font-size: 26px;
    color: #727272;
    /* column-width: 30px;  */
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: start;
   
}

/*rectangle-box onde chamei os dois retangulos*/
.rectangle-box{
        display: flex;
        justify-content: start;
       
}