/*Título "Próximas atividades*/
.title{ 
    flex-wrap: nowrap;
    font-size: 26px;
    color: #555555;
}
/*rectangle-box onde chamei os dois retangulos*/
.rectangle-box{
        display: flex;
        justify-content: center;
        
}