@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap%27);

.Sidebar {
    display: flex;
    height: 100vh;
    background: #fafafa;
    width: 300px;
}

h1{     
       
       text-align: center;
       font-family: 'Nunito', sans-serif;
} 

.avatar-fausto {
width: 90px;
height: 90px;
left: 123px;
top: 85px;
border-radius: 50%;

}