@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap%27);

.Sidebar {
    display: grid center;
    height: 100vh;
    background: #fafafa;
    width: 300px;
}

h1{          
    text-align: center;  
    font-size: 20px;
    font-weight: 700;
    color: #727272;
} 

h2{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
}
.avatar-fausto{ /* imagem*/
width: 90px;
height: 90px;
border-radius: 50%;
display: flex;
margin: 0 auto;
margin-top: 60px;

}
/* buttons*/
.buttons {
    font-size: 18px;
    color: #6a6a6a;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 70px;
}

/* botao dashboard*/
.button-dashboard{
    color: #6a6a6a;
    margin-bottom: 25px;
    text-decoration: none;
    
}

.button-dashboard a:hover{
    text-decoration: none;
    cursor: pointer;
}

.button-dashboard a:visited{
    font-weight: bold;
}


/*botão cursos*/

.button-courses{
    color: #6a6a6a;
    text-decoration: none;
}
.button-courses a:active{
    font-weight: bold;
}


.button-courses a:hover{
    text-decoration: none;
    cursor: pointer;
}